<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e9c9bd">  <td>24/04/01 09:35:32</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;SimpleSeleniumTest.setUp()[pri:0, instance:task5.task5.SimpleSeleniumTest@1750fbeb]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="e9c9bd">  <td>24/04/01 09:36:06</td>   <td>34598</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;SimpleSeleniumTest.tearDown()[pri:0, instance:task5.task5.SimpleSeleniumTest@1750fbeb]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159190947</td>   <td></td> </tr>
<tr bgcolor="e9c9bd">  <td>24/04/01 09:35:33</td>   <td>1904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SimpleSeleniumTest.testPageTitle()[pri:0, instance:task5.task5.SimpleSeleniumTest@1750fbeb]">testPageTitle</td> 
  <td>main@1159190947</td>   <td></td> </tr>
</table>
